<div class="index_content">
<table
	cellspacing="0"
	cellpadding="0"
	style="border-width: 0px">
	<!-- BEGIN contacts -->
	<tr class="contactheader">
		<td colspan="2">{title}</td>
	</tr>
	<tr
		class="contacts"
		valign="top">
		<td>{htmlentities:name} <br>
		{htmlentities:street} <br>
		{htmlentities:country} - {htmlentities:citycode} {htmlentities:city}</td>
		<td NOWRAP>{htmlentities:langtext.fon}: {htmlentities:prenumber} {htmlentities:number} <br>
		{htmlentities:langtext.fax}: {htmlentities:prenumber} {htmlentities:fax} <br>
		{htmlentities:langtext.email}: <a href="MAILTO:{email}">{htmlentities:email}</a></td>
	</tr>
	<!-- END categories -->
</table>
</div>
