<style>
tr.header
{
	background-color: #CCCCCC;
	border-bottom: 1px solid #000000;
	font-family: verdana;
	font-size: 10px;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}
</style>
<table cellspacing="0" cellpadding="0" border="0">
	<tr class="header">
		<!-- BEGIN header -->
			<td>
				<!-- IF linkto>"" --><a href="{linkto}" border="0"><!-- ENDIF linkto>"" -->
				<img src="{image}">
				<!-- IF linkto>"" --></a><!-- ENDIF linkto>"" -->
			</td>
		<!-- END header -->
	</tr>
	
</table>