<link
	href="Stylesheet/Menu.css"
	rel="stylesheet"
	type="text/css"
	media="screen, projection, print">
<div
	id="menu1"
	style="position:absolute; left:0px; top:1px; z-index:2">
<table style="width: 200px;">
	<tr class="menu">
		<td colspan="2"><img src="Images/Other/new_elbefant.png"></td>
	</tr>
	<!-- ABOUTUS -->
	<tr class="menu">
		<td style="width: 10px">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr class="menu">
		<td
			class="menutop"
			colspan="2"><a href="_aboutus_{language}.html">{langtext.aboutus}</a></td>
	</tr>
	<!-- NEWS -->
	<tr class="menu">
		<td colspan="2"><a href="_news_{language}.html">{langtext.news}</a></td>
	</tr>
	<!-- NEWSMENU -->
	<tr class="menu">
		<td>&nbsp;</td>
		<td>{menu.newsmenu}</td>
	</tr>
	<!-- PRODUCTS -->
	<tr class="menu">
		<td colspan="2">{langtext.products}</td>
	</tr>
	<tr class="menu">
		<td>&nbsp;</td>
		<td>{menu.categories}</td>
	</tr>
	<!-- DOCUMENTS -->
	<tr class="menu">
		<td colspan="2"><a
			href="_products_documents_conformity_{language}.html">{langtext.documents_conformity}</td>
	</tr>
	<tr class="menu">
		<td colspan="2"><a href="_products_documents_manual_{language}.html">{langtext.documents_manual}</td>
	</tr>
	<tr class="menu">
		<td colspan="2"><a href="_products_documents_otherdoc_{language}.html">{langtext.documents_other}</td>
	</tr>
</table>
</div>
<script language="JavaScript">
checkLocationMenu1();
</script>