<table style="width: 200px;">
	<!-- ABOUTUS -->
	<tr class="aboutuslogo">
		<td
			class="aboutuslogo"
			colspan="2"
			align="center"><a href="_aboutus_{language}.html"><img
			src="Images/Other/elbefant.small.png"
			alt="LOGO"
			class="aboutuslogo"
			style="border-width: 0px"></a></td>
	</tr>
	<!-- NEWS -->
	<tr class="menu">
		<td colspan="2"><a href="_news_{language}.html">{htmlentities:langtext.news}</a></td>
	</tr>
	<!-- NEWSMENU -->
	<tr class="menu">
		<td>&nbsp;</td>
		<td>{menu.newsmenu}</td>
	</tr>
	<!-- PRODUCTS -->
	<tr class="menu">
		<td colspan="2"><a href="_products_all_{language}.html">{htmlentities:langtext.products_all}</a></td>
	</tr>
	<tr class="menu">
		<td>&nbsp;</td>
		<td>{menu.categories}</td>
	</tr>
	<!-- DOCUMENTS -->
	<tr class="menu">
		<td colspan="2"><a
			href="_products_documents_conformity_{language}.html">{htmlentities:langtext.documents_conformity}</a></td>
	</tr>
	<tr class="menu">
		<td colspan="2"><a href="_products_documents_manual_{language}.html">{htmlentities:langtext.documents_manual}</a></td>
	</tr>
	<tr class="menu">
		<td colspan="2"><a href="_products_documents_otherdoc_{language}.html">{htmlentities:langtext.documents_other}</a></td>
	</tr>
	<tr class="menu">
		<td colspan="2"><a href="_contacts_{language}.html">{htmlentities:langtext.contact}</a></td>
	</tr>
	<tr class="menu">
		<td colspan="2"><a href="_impressum_{language}.html">{htmlentities:langtext.imprint}</a></td>
	</tr>
</table>
