<table width="100%">
	<!-- ABOUTUS -->
	<tr>
		<td><a href="_aboutus_{language}.html">{langtext.aboutus}</a></td>
	</tr>
	<!-- NEWS -->
	<tr>
		<td><a href="_news_{language}.html">{langtext.news}</a></td>
	</tr>
	<!-- NEWSMENU -->
	<tr>
		<td>{menu.newsmenu}</td>
	</tr>
	<!-- PRODUCTS -->
	<tr>
		<td>{langtext.products}</td>
	</tr>
	<tr>
		<td>{menu.categories}</td>
	</tr>
	<!-- DOCUMENTS -->
	<tr>
		<td>{langtext.documents_conformity}</td>
	</tr>
	<tr>
		<td>{menu.documents_conformity}</td>
	</tr>
	<tr>
		<td>{langtext.documents_manual}</td>
	</tr>
	<tr>
		<td>{menu.documents_manual}</td>
	</tr>
	<tr>
		<td>{langtext.documents_other}</td>
	</tr>
	<tr>
		<td>{menu.documents_other}</td>
	</tr>
</table>
