<div class="index_content">
<table
	cellspacing="0"
	cellpadding="0"
	style="border-width: 0px">
	<!-- BEGIN news -->
	<tr class="news">
		<td>{htmlentities:date}</td>
		<td>{htmlentities:headline}</td>
	</tr>
	<tr class="news">
		<td colspan="2">
		<ul>
			<!-- BEGIN description -->
			<li>{htmlentities:value}</li>
			<!-- END description -->
		</ul>
		<!-- IF newsdoc>"" -->
		<div align="right">
		<ul>
			<!-- BEGIN newsdoc -->
			<li><img
				src="Images/Other/pdf.png"
				alt="PDFICON"
				style="width: 19px; height: 18px;"
				style="vertical-align:middle"><a href="Documents/News/{path}">{htmlentities:name}</a></li>
			<!-- END newsdoc -->
		</ul>
		</div>
		<!-- ENDIF newsdoc>"" --></td>
	</tr>
	<!-- END news -->
</table>
</div>
