<link
	href="Stylesheet/News.css"
	rel="stylesheet"
	type="text/css"
	media="screen, projection, print">
<table
	cellspacing="0"
	cellpadding="0"
	border="0">
	<!-- BEGIN news -->
	<tr class="news">
		<td>{date}</td>
		<td>{headline}</td>
	</tr>
	<tr class="news">
		<td colspan="2">
		<ul>
			<!-- BEGIN description -->
			<li>{value}</li>
			<!-- END description -->
		</ul>
		<!-- IF newsdoc>"" -->
		<div align="right">
		<ul>
			<!-- BEGIN newsdoc -->
			<li><img
				src="Images/Other/pdf.png"
				width="19"
				height="18"
				style="vertical-align:middle"><a href="Documents/News/{path}">{name}</a></li>
			<!-- END newsdoc -->
		</ul>
		</div>
		<!-- ENDIF newsdoc>"" --></td>
	</tr>
	<!-- END news -->
</table>
