tr.contactheader {
	color: #000000;
	background-color: #BBBBBB;
	border-bottom: 1px solid #000000;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

tr.contacts {
	color: #000000;
	background-color: #CCCCCC;
	border-bottom: 1px solid #000000;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}