a:link {
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

a:visited {
	font-weight: normal;
	color: #CCCCCC;
	text-decoration: none;
}

a:focus {
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}

a:hover {
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}

a:active {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}

body,table,img {
	background-color: #6375bd;
	font-family: verdana;
	border-collapse: collapse;
	border: 0px;
	margin: 1px;
	padding: 0px;
	color: rgb(0, 0, 0);
	border: 0px solid #000000;
}
td {
	background-color: #6375bd;
	font-family: verdana;
	border-collapse: collapse;
	border: 0px;
	margin: 2px;
	padding: 2px;
	color: rgb(0, 0, 0);
	border: 0px solid #000000;
}

td.header {
	height: 110px;
	border: 0px solid #000000;
}