tr.products_all {
	padding: 2px;
	background-color: #6c83b0;
	width: 100px;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #000000;
}

td.products_all {
	border: 1px solid #000000;
	padding: 5px;
}