table.product {
	width: 99%;
	border: 1px solid #000000;
}

table.headline {
	border: 0px solid #000000;
}

td.product_headline {
	border: 0px solid #000000;
	padding: 2px;
	background-color: #6c83b0;
	font-size: 1px;
	font-weight: normal;
	color: #000000;
	text-align: left;
}

td.product_headline_category {
	padding: 2px;
	background-color: #6c83b0;
	width: 100px;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

td.product_headline_name {
	padding: 2px;
	background-color: #7384c6;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-align: left;
	border-top: 1px solid #000000;
}

td.product_content_description {
	border: 0px solid #000000;
	padding: 2px;
	background-color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

td.product_icon {
	width: 170px;
	border: 0px solid #000000;
	padding: 0px;
	font-size: 1px;
	font-weight: normal;
	color: #000000;
	text-align: center;
}

td.product_description {
	border: 0px solid #000000;
	padding: 0px;
	font-size: 1px;
	font-weight: normal;
	color: #000000;
	text-align: center;
}

td.product_content_empty {
	text-align: left;
	background-color: #6c83b0;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

td.product_content_headline {
	text-align: left;
	padding-left: 100px;
	background-color: #6c83b0;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

td.contentside {
	text-align: left;
	padding: 2px;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}

td.productseperator {
	
}

div.seealsosideinside {
	border: 0px solid #000000;
	border-top: 1px dotted #333333;
	border-bottom: 1px dotted #333333;
	text-align: left;
	background-color: #6c83b0;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}

div.description {
	border: 0px solid #000000;
	border-top: 1px dotted #333333;
	border-bottom: 1px dotted #333333;
	border-left: 1px solid #333333;
	text-align: left;
	background-color: #6c83b0;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}

div.menu2 {
	position: fixed;
	text-align: right;
	background-color: #6c83b0;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	width: 200px;
	margin-right: 2px;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

div.productoverview_tablescroller {
	width: 580px;
}

div.menu2 {
	position: absolute;
	left: 781px;
	top: 120px;
	z-index: 2;
}