<!-- IF error>"" -->
	<!-- BEGIN error -->{htmlentities:value}<!-- END error -->
<!-- ENDIF Error>"" -->
<form action="{currentRequestFile}" method="post">
<table>
	<tr>
		<td 
			colspan="2">Database</td>
	</tr>
	<tr>
		<td>Host/IP</td>
		<td><input 
			type="text" 
			name="databaseHost" 
			value="{htmlentities:_POST.databaseHost}"></td>
	</tr>
	<tr>
		<td>Username</td>
		<td><input
			type="text"
			name="databaseUsername"
			value="{htmlentities:_POST.databaseUsername}"></td>
	</tr>
	<tr>
		<td>Password</td>
		<td><input
			type="text"
			name="databaseUserpass"
			value="{htmlentities:_POST.databaseUserpass}"></td>
	</tr>
	<tr>
		<td>Database</td>
		<td><input
			type="text"
			name="databaseName"
			value="{htmlentities:_POST.databaseName}"></td>
	</tr>
	<tr>
		<td>Prefix</td>
		<td><input
			type="text"
			name="databaseTableprefix"
			value="{htmlentities:_POST.databaseTableprefix}"></td>
	</tr>
	<tr>
		<td 
			colspan="2"><input
				type="submit"
				value="Create"></td>
	</tr>
</table>
</form>