<table>
	<!-- BEGIN AvailableFields -->
	<tr>
		<td>Feldname</td>
		<td>
			<select name="Fieldconfig[{name}]">
				<option value="NONE">Datenfeld (egal)</option>
				<option value="TEXT">Datenfeld (text)</option>
				<option value="BIN">Datenfeld (binaer)</option>
				<option value="ID">ID</option>
				<option value="PARENTID">ElternID</option>
				<option value="PASSWORD">Passwort</option>
				<option value="EMAIL">eMailadresse</option>
				<option value="HTTPURL">Webseite</option>
				<option value="MESSENGERNR">Messenger-ID, -Nummer</option>
			</select>
		</td>
	</tr>
</table>
